body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1F2937;
  padding: 45px;
  padding-right: 110px;
  padding-left: 110px;
  display: flex;
  justify-content: space-between;
  height: 40px;
}  
  
.left-links {
  display: flex;
  justify-content: flex-start;
  font-size: 24px;
  color: #F9FAF8;
}
  
.right-links {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  font-size: 18px;
  color: #E5E7EB
}
  
.hero {
  background-color: #1F2937;
  display: flex;
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 50px;
  padding-top: 30px;
  gap: 50px;
  flex: 1;
}

.herotext {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 8px;
  color: #F9FAF8;
}

.text {
  color: #E5E7EB;
  font-size: 18px;
  margin-bottom: 18px;
}

.heroimg img {
  width: 500px;
}


button {
  background-color: #3882F6;
  font-size: 16px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  padding: 7px;
}

.titleinfo {
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 50px;
  padding-top: 30px;
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  font-weight: 800;

}
.container1 {
  display: flex;
  width: 100%;
  height: 750px;
  gap: 52px;
  justify-content: center;
  flex: 1;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container1 img {
  border: 5px solid #3882F6;
  width: 200px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.container1 .text{
  color: black;
  width: 200px;
  padding-bottom: 40px;
}

.sections {
  display: flex;
  flex: 1;
}
  
#section2 {
  background-color: #E5E7EB;
}

.footer {
  height: 72px;
  background-color: #1F2937;
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: center;
}
  
a {
  color: #eee;
  text-decoration: none;
}
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }